---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogCard from "../../components/blog/BlogCard.astro";
import { fetchCollection } from "../../utils/blog";
import type { Post } from "../../types/types"; // 追加

const posts: Post[] = await fetchCollection();
posts.sort((a: Post, b: Post) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---

<BaseLayout
  pageTitle="Lorem Ipsum"
  pageDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, cupiditate. Sit consequuntur, quas voluptate quidem facere ipsum doloremque! Possimus deserunt eos voluptatibus molestias, minima id dolorum excepturi doloremque odit repudiandae?"
>
  <section>
    <div class="w-full">
      {
        posts.map((post: Post) => (
          // 最後以外の記事には border-b-0 を追加
          <div class={`h-fit border-2 border-white flex` + (post === posts[posts.length - 1] ? "" : " border-b-0")}>
            <BlogCard
              title={post.data.title}
              date={new Date(post.data.date)}
              tags={post.data.tags ?? []}
              description={post.data.description}
              slug={"/blog/" + post.slug}
            />
          </div>
        ))
      }
    </div>
  </section>
</BaseLayout>
