---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout
  pageTitle="Error 404 😵"
  pageDescription="Sorry, this page doesn't exist."
>
  <section class="has-text-centered mt-6">
    <h1 class="is-size-1 is-size-3-mobile">Nothing here.</h1>
    <a href="/">
      <p class="is-size-3 is-size-4-mobile">{"← "}Back to home</p>
    </a>
  </section>
</DefaultLayout>
