---
import BaseLayout from "../layouts/BaseLayout.astro";

// グローバルCSSファイルをインポート
import '../global.css';
---

<BaseLayout
  pageTitle="Home"
  pageDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, cupiditate. Sit consequuntur, quas voluptate quidem facere ipsum doloremque! Possimus deserunt eos voluptatibus molestias, minima id dolorum excepturi doloremque odit repudiandae?"
>
  <section class="fade-in">
    
  </section>
</BaseLayout>
