---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { BlogCard } from "../components/blog/BlogCard.tsx";
import { fetchCollection } from "../utils/blog";
import type { Post } from "../types/types";

import "../reset.css";
import "../global.css";

const posts: Post[] = await fetchCollection();
posts.sort(
  (a: Post, b: Post) =>
    new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<DefaultLayout
  pageTitle="Lorem Ipsum"
  pageDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, cupiditate. Sit consequuntur, quas voluptate quidem facere ipsum doloremque! Possimus deserunt eos voluptatibus molestias, minima id dolorum excepturi doloremque odit repudiandae?"
>
  <section class="font-jetbrains text-white">
    <div class="w-full">
      {
        posts.map((post: Post, index: number) => (
          <div class={`h-fit border-2 mt-2 m-0 border-white flex`}>
            <BlogCard
              title={post.data.title}
              date={new Date(post.data.date)}
              tags={post.data.tags ?? []}
              description={post.data.description}
              slug={"/blog/" + post.slug}
            />
          </div>
        ))
      }
    </div>
  </section>
</DefaultLayout>
