---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { PostFilter } from "../components/blog/PostFilter.tsx";
import { fetchCollection } from "../utils/blog";
import type { Post } from "../types/types";

import "../reset.css";
import "../global.css";

const posts: Post[] = await fetchCollection();
posts.sort((a: Post, b: Post) => {
  const dateDiff =
    new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
  if (dateDiff !== 0) return dateDiff;
  return b.slug.localeCompare(a.slug);
});

const postData = posts.map((post: Post) => ({
  title: post.data.title,
  date:
    post.data.date instanceof Date
      ? (post.data.date as unknown as Date).toISOString()
      : String(post.data.date),
  description: post.data.description,
  tags: post.data.tags ?? [],
  slug: post.slug,
}));
---

<DefaultLayout pageTitle="Top" pageDescription="log">
  <section class="font-jetbrains text-white">
    <div class="w-full">
      <PostFilter posts={postData} client:load />
    </div>
  </section>
</DefaultLayout>
