---
import { getFormattedDate } from "../../utils/utils";

interface Props {
  title: string;
  date: Date;
  tags: string[];
  description: string;
  slug?: string;
}

const { title, date, tags, description, slug } = Astro.props;
---

<a href={slug} class="w-full text-white">
  <h2 class="m-0 leading-tight font-black truncate sm:text-lg md:text-xl lg:text-2xl">
    {title}
  </h2>
  <div class="flex">
    <p class="bold m-0 mr-2 italic truncate">{getFormattedDate(date)}</p>
  </div>
  <p class="truncate mb-0">{description}</p>
</a>
