---
import menuOptions from "../../data/menu-options.json";
import SearchBox from "./SearchBox.jsx";

import '../../global.css';
---

<nav class="bg-white items-center justify-between flex w-full px-4 py-1" role="navigation" aria-label="main navigation">
  <h1 class="font-bold text-red-500 text-lg">
    log
  </h1>

  <div class="flex items-center">
    <div class="flex">
      {
        menuOptions.map((option) => {
          return (
            <a href={option.url} class="font-semibold ml-1 text-gray-700 hover:text-black">
            {option.label}
          </a>
        );
      })
    }
    </div>
    <div class="flex items-center ml-1">
      <SearchBox client:visible />

      {/* ダークモード切り替えアイコンを削除 */}
    </div>
  </div>
</nav>
