---
import SearchBox from "./SearchBox.jsx";

import '../../global.css';
---

<nav class="bg-white items-center justify-between flex w-full px-4 py-1" role="navigation" aria-label="main navigation">
  <h1 class="font-bold text-red-500 text-lg">
    log
  </h1>

  <div class="flex items-center ml-1">
    <SearchBox client:visible />
  </div>
</nav>
