---
import Navbar from "../components/common/Navbar.tsx";
import Footer from "../components/common/Footer.astro";
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body class="flex justify-center w-full">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
