---
import { Navbar } from "../components/common/Navbar.tsx";
import { SEO } from "astro-seo";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  pageTitle?: string;
  pageDescription?: string;
}

import "../global.css";

const { pageTitle, pageDescription } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <SEO
      title={pageTitle?.includes("404") ? pageTitle : `log - ${pageTitle}`}
      description={pageDescription}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "viewport",
            content: "width=device-width",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
        ],
      }}
    />
    <ViewTransitions />
  </head>
  <body
    class="background font-jetbrains px-4 bg-black text-white justify-center w-full max-w-screen-xl mx-auto"
    transition:animate="slide"
  >
    <Navbar />
    <main>
      <slot />
    </main>
  </body>
</html>
