---
import { Navbar } from "../components/common/Navbar.tsx";
import { SEO } from "astro-seo";
import { ClientRouter } from "astro:transitions";

export interface Props {
  pageTitle?: string;
  pageDescription?: string;
  ogImage?: string;
  ogUrl?: string;
  ogType?: string;
}

import "../global.css";

const {
  pageTitle,
  pageDescription,
  ogImage,
  ogUrl,
  ogType = "website",
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <SEO
      title={pageTitle?.includes("404") ? pageTitle : `log - ${pageTitle}`}
      description={pageDescription}
      openGraph={ogImage
        ? {
            basic: {
              title: pageTitle ?? "log",
              type: ogType,
              image: ogImage,
              url: ogUrl,
            },
            optional: {
              description: pageDescription,
            },
          }
        : undefined}
      twitter={ogImage
        ? {
            card: "summary_large_image",
            title: pageTitle ?? "log",
            description: pageDescription,
            image: ogImage,
          }
        : undefined}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "viewport",
            content: "width=device-width",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
        ],
      }}
    />
    <ClientRouter />
  </head>
  <body
    class="background font-jetbrains px-4 bg-black text-white justify-center w-full max-w-screen-xl mx-auto"
    transition:animate="slide"
  >
    <Navbar />
    <main>
      <slot />
    </main>
  </body>
</html>
