---
import DefaultLayout from "./DefaultLayout.astro";
import { SEO } from "astro-seo";

interface Props {
  pageTitle: string;
  pageDescription: string;
  postTitle: string;
}

const { pageTitle, pageDescription, postTitle } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <SEO
      title={pageTitle}
      description={pageDescription}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "viewport",
            content: "width=device-width",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
        ],
      }}
    />
  </head>
  <body class="font-jetbrains text-white bg-black px-4">
    <DefaultLayout>
      <section class="">
        <header class="my-6 fade-in">
          <h1 class="text-4xl font-bold no-underline text-white">
            {postTitle}
          </h1>
        </header>
        <section>
          <slot />
        </section>
        <a class="hover:text-red-500 text-md font-bold text-white" href="/blog">
          {"←"} Return to blog
        </a>
      </section>
    </DefaultLayout>
  </body>
</html>
