---
import DefaultLayout from "./DefaultLayout.astro";
import { SEO } from "astro-seo";

interface Props {
  pageTitle: string;
  pageDescription: string;
  postTitle: string;
  pageTags: string[];
}

const { pageTitle, pageDescription, postTitle, pageTags } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <SEO
      title={pageTitle}
      description={pageDescription}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "viewport",
            content: "width=device-width",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
        ],
      }}
    />
  </head>
  <body
    class="background font-jetbrains text-white bg-black px-4 max-w-screen-md mx-auto"
  >
    <DefaultLayout>
      <section class="pb-20">
        <!-- 一番下に移動 -->
        <div
          class="hover:text-[#00ff3c] w-full text-right m-0 text-md font-bold underline text-white cursor-pointer"
          onclick="window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' })"
        >
          {"↓"} Go to bottom
        </div>
        <header class="fade-in my-6">
          <h1 class="text-4xl font-bold no-underline bg-none">
            {postTitle}
          </h1>
          <!-- tags -->
          <div class="flex flex-wrap">
            {
              pageTags.map((tag: string) => (
                <div class="text-white text-xs mb-2 bg-black border-2 border-white font-bold mr-2 m-0 p-1">
                  {tag}
                </div>
              ))
            }
          </div>
        </header>
        <section>
          <slot />
        </section>
        <div class="flex justify-between">
          <a class="hover:text-[#00ff3c] text-md font-bold text-white" href="/">
            {"←"} Return to blog
          </a>
          <!-- 一番上に戻る -->
          <div
            class="hover:text-[#00ff3c] m-0 text-md font-bold underline text-white cursor-pointer"
            onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
          >
            {"↑"} Back to top
          </div>
        </div>
      </section>
    </DefaultLayout>
  </body>
</html>
