---
import DefaultLayout from "./DefaultLayout.astro";
import { SEO } from "astro-seo";

interface Props {
  pageTitle: string;
  pageDescription: string;
  postTitle: string;
}

const { pageTitle, pageDescription, postTitle } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <SEO
      title={pageTitle}
      description={pageDescription}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "viewport",
            content: "width=device-width",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
        ],
      }}
    />
  </head>
  <body class="font-sans text-gray-800">
    <DefaultLayout>
      <section class="min-h-screen container mx-auto my-6">
        <a class="text-black hover:text-red-500 text-md font-bold ml-4" href="/blog">
          {"←"} Return to blog
        </a>
        <header class="text-center mx-4 my-6 fade-in">
          <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-black">
            {postTitle}
          </h1>
        </header>
        <section class="post-content mx-4 md:mx-6 lg:mx-8 fade-in">
          <slot />
        </section>
        <a class="text-black hover:text-red-500 text-md font-bold ml-4" href="/blog">
          {"←"} Return to blog
        </a>
      </section>
    </DefaultLayout>
  </body>
</html>
